<center>
<form  method="POST" action="/formation/addAction">
<h1>Create new training</h1>

<label>Title</label>
<input type="text" name="Title" id="Title" ><br><br>

<label>Description</label>
<input type="text" name="Description" id="Description"><br><br>

<label>start At</label>
<input type="date" name="StartAt" id="StartAt"><br><br>

<label>End At</label>
<input type="date" name="EndAt" id="EndAt"><br><br>

<button type="submit">Add</button>

</form>
</center>